body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}

img {
  width: 100%;
  height: auto;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.card-list {
  margin: 2rem;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 2rem;
}

.card {
  position: relative;
  width: calc(100% / 3);
  border: 3px solid black;
  border-radius: 1rem;
  padding: 1rem;
}

.card:hover a {
  text-decoration: underline;
}

.card a {
  color: black;
  text-decoration: none;
}

.eyebrow {
  margin: 0.5rem 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 0.8rem;
}

.eyebrow a {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 70%;
}

.readmore {
  text-decoration: underline;
  text-align: end;
}
