body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pickers {
  max-width: 50ch;
  display: flex;
  gap: 2rem;
}
