body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}

button {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  border: 0;
  background: none;
}

button:hover {
  cursor: pointer;
}

button:hover,
button:focus,
button:active {
  background: none;
  border-color: inherit;
  border-radius: 0;
}

.skip-link {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.skip-link:focus {
  clip: unset;
  clip-path: unset;
  height: auto;
  width: auto;
  margin: 0;
  padding: 1rem 1.5rem;
  background: white;
  z-index: 1;
}

.main-nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-nav li {
  position: relative;
}

.main-nav a,
.menu-trigger {
  display: block;
  margin-block-end: 1ch;
  margin-inline-end: 1ch;
  padding: 0.3rem 0.5rem;
  border: 3px solid black;
  color: black;
  text-decoration: none;
  background: white;
}

.main-nav a:hover,
.main-nav a:focus,
.menu-trigger:hover,
.menu-trigger:focus {
  background: black;
  color: white;
  border-color: black;
}

.main-nav ul ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.main-nav ul ul.hide {
  display: none;
}

.sub::after {
  display: inline-block;
  margin-inline-start: 0.5rem;
  content: ">";
  transform: rotate(90deg);
}
